---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>
<!-- 新しく更新されたcontent pageの新しいファイルをbrowser previewを確認してみてください -->